<div>

    <div class="row">
        <div class="text-center columns small-centered medium-centered large-centered">
            <h3 class="left">Add User:</h3>
        </div>
    </div>

    <div class="row ">
        <hr>
        <form data-abide class="userForm text-center columns small-centered medium-centered large-centered" novalidate>
            <div class="name-field row">
                <div class="columns small-6 small-centered medium-centered large-centered">
                    <label>Name <medium style="color: #cc0000">*required</medium>:<h6 ng-bind="user.name"></h6>

                        <input ng-model="user.name" type="text" required>
                    </label>
                    <div class="nameError text-center" >
                        <div style="background-color: #cc0000">
                            <h3 style="color: #FFFFFF">Required!</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="email-field row">
                <div class="columns small-6 small-centered medium-centered large-centered">
                    <label>Email <medium style="color: #cc0000">*required</medium>:<h6 ng-bind="user.email"></h6>
                        <input ng-model="user.email" type="text" required>
                    </label>
                    <div class="emailError text-center" >
                        <div style="background-color: #cc0000">
                            <h3 style="color: #FFFFFF">Required!</h3>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>

        <div class="response row text-center" style="display:none">
            <div class="columns small-6 small-centered medium-centered large-centered">
                <h3 style="color: #FFFFFF"></h3>
            </div>
        </div>
    </div>
</div>
