<div class="row">
    <div class="text-center columns small-centered medium-centered large-centered">
        <h3 class="left">Task Details:</h3>
        <button ng-click="editTask()" class="button success right">Edit Task</button>
    </div>
</div>

<div class="row ">
    <div class="text-center columns small-centered medium-centered large-centered" >
        <hr>
        <div class="left columns small-12 medium-12 large-12">
            <h3 ng-bind="task.name "></h3>
        </div>
    </div>
</div>
<div class="row ">
    <div class="text-center columns small-centered medium-centered large-centered" >
        <hr>
        <div class="left columns small-12 medium-12 large-12">
            <h3>Assigned User:</h3>
            <h3 ng-bind="task.assignedUserName "></h3>
        </div>
    </div>
</div>
<div class="row ">
    <div class="text-center columns small-centered medium-centered large-centered" >
        <hr>
        <div class="left columns small-12 medium-12 large-12">
            <h3>Deadline:</h3>
            <h3 ng-bind="task.deadline | date"></h3>
        </div>
    </div>
</div>
<div class="row ">
    <div class="text-center columns small-centered medium-centered large-centered" >
        <hr>
        <div class="left columns small-12 medium-12 large-12">
            <h3>Completed:</h3>
            <h3 ng-bind="task.completed"></h3>
        </div>
    </div>
</div>